* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 30px 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 100px;
}

.header-links {
    display: flex;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 32px;
    align-items: center;
    margin-right: 100px;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-body {
    display: flex;
    background-color: #1F2937;
    padding: 60px 200px;
    gap: 32px;

}

.headerbody-left {
    display:flex;
    flex-direction: column;
    flex: 1 1 20em;
    gap: 12px;
}

.header-maintext {
    color: #F9FAF8;
    display: flex;
    font-size: 48px;
}

.header-secondtext {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

button.bread {
  background: #4169e1;
  border: 1px solid royalblue;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  align-self: flex-start;

}

button.bread:active {
    background: #2b4696;
    -webkit-box-shadow: inset 0px 0px 5px #2b4696;
       -moz-box-shadow: inset 0px 0px 5px #2b4696;
            box-shadow: inset 0px 0px 5px #2b4696;
     outline: none;
}

.headerbody-right {
    display: flex;
    background-color: rgb(125, 125, 134);
    flex: 1 0 20em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.rectangle {
    color: #F9FAF8;
    text-align: center;
}

h1, p{
    margin: 0;
}

.information {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-direction: column;
}

.information-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    margin-top: 50px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-direction: row;
    padding: 60px 60px 120px 60px
}

.infocard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}


img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 120px 30px;
    gap: 12px;
}

.quote-text {
    font-size: 36px;
    font-style: oblique;
    text-align: center;
    padding-right: 50px;
}

.quote-guy {
    text-align: center;
    padding-left: 120px;
}

.breadsegment {
    display: flex;
    justify-content: center;
    margin: 60px 60px;
}

.breadbanner {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 32px;
    flex: 1 1 20em;
    justify-content: space-around;
    align-items: center;
}

.breadcontainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 3;
}

button.bread2 {
    border: 1px solid #F9FAF8;
}

.buttoncenter1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer {
  height: 72px;
  background: #1F2937;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
}